@media (max-width: 992px) {
    .main {
        .title__text-sup {
            width: 100%;
        }
        .title__text {
            width: 100%;
        }
        .wrapper {
            &__title {
                font-size: 70px;
                line-height: 70px;
            }
        }

        .full-repair {
            margin: 150px 0;
            &-card {
                margin-top: 20px;
                flex-direction: row;
                margin-bottom: 20px;
                align-items: start;
                picture {
                    width: 49%;
                }
                &-info {
                    width: 49%;
                }
            }
        }

        
        .works {
            &-item {
                padding-top: 10px;
                border-top: 1px solid #9D9D9D;
                width: 48%;
                margin-right: 2%;
                &:nth-child(2n) {
                    margin-right: 2%;
                }
            }
        }

        .projects {
            &-card {
                width: 100%;
            }
        } 
        
        .create {
            .title__text-sub {
                width: 100%;
            }
            &-card {
                
                &-info {
                    width: 49%;
                }
                picture {
                    width: 49%;
                }
            }
        }
        
        .design-form {
            color: #fff;
            picture {
                display: flex;
                align-items: center;
                width: 45%;
                img {
                    width: 100%;
                    object-fit: contain;
                }
            }
            .form {
                width: 53%;
                .input-box {
                    width: 100%;
                }
            }
        }

        .price-box {
          margin: 150px 0;
          padding: 50px 0;
          position: relative;
          picture {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
              img {
                height: 100%;
                  object-fit: cover;
                  object-position: center;
              }
          }
          &-card {
              width: 397px;
              padding: 60px 20px;
              border-radius: 30px;
              position: relative;
              left: auto;
              transform: translate(0, 0);
              z-index: 2;
              top: auto;
              margin: 0 auto;
              text-align: center;
          }
          .title__text {
              margin-bottom: 0;
          }
          &__text {
              margin: 30px 0 40px;
          }
        }

        .faq {
            &-item {
                width: 100%;
    
                &__title {
                    width: 80%;
                }
            }
        }

        .repeair-objects {
            margin: 150px 0;
            &-card {
                width: 39%;
            }
        }
        .howWeAreWorking {
            .slide {
                .howWeAreWorking-info {
                    width: 58%;
                }
                picture {
                    width: 40%;
                    img {
                        width: 100%;
                        height: 220px;
                    }
                }
            }
        }

        
    .project-card {
        .card-controls {
            .card-prev {
                left: 15px;
            }
            .card-next {
                right: 15px;
            }
        }
        &-info {
            margin-top: 60px;
            .price__btn {
                width: 100%;
            }
        }
    }
    
    .repeair-page {
        .repeair-form {
            margin-top: 150px;
            padding: 40px 20px;
            display: flex;
            justify-content: center;
            .form {
                width: 340px;
                padding: 0;
            }
        }
        .after_table {
            margin: 50px 0;
        }
    }
    .repeair-table {
        margin-bottom: 0;  
    }

    
    .express {
        .left-box {
            width: 100%;
        }
        .right-box {
            width: 100%;
            margin-top: 50px;
        }
    }
    .design-page {
        .img {
            .design-img {
                width: 49%;
                margin-bottom: 10px;
            }
        }
    }
}

    .footer {
        .row:nth-child(2) {
            margin: 80px 0 50px;
        }
        .form {
            .input-box {
                width: 330px;
                margin-right: 0;
                margin-bottom: 30px;
            }
            .check-box {
                width: 100%;
            }
            &__btn {
                margin-top: 30px;
            }
        }
        &-item {
            width: 100%;
            &:first-child {
                margin-bottom: 20px;
            }
        }
    }
    .popUp {
        &-content {
            max-width: 98%;
        }
        .calculate,
        .after-calculate,
        .thanks {
            padding: 40px 20px;
        }
    }
}

@media (max-width: 576px) {
    .header {
        padding: 18px 0;
        &-logo {
            img {
                width: 105px;
            }
        }
    }
    .main {
        padding-top: 30px;
        .title__text-sup {
            width: 100%;
            font-size: 14px;
            line-height: 19px;
            font-weight: 300;
        }
        .title__text {
            width: 100%;
            font-size: 32px;
            line-height: 38px;
            margin-bottom: 40px;
        }
        .wrapper {
            &__title {
                font-size: 32px;
                line-height: 38px;
            }
            &__title-sub {
                font-size: 18px;
                line-height: 25px;
                margin: 20px 0;
            }
            .free__btn {
                margin-bottom: 20px;
            }
            &-bg {
                margin-top: 20px;
                picture {
                    display: flex;
                    width: 100%;
                    height: 250px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover !important;
                    }
                }
            }
            &-info {
                padding: 60px 0;
                border-radius: 30px;
                &__title {
                    font-size: 24px;
                    line-height: 28px;
                }
                &-item {
                    border-left: 1px solid #fff;
                    border-bottom: 1px solid #fff;
                    padding: 30px 0 50px 20px;
                    &__title {
                        font-size: 32px;
                        line-height: 38px;
                        font-weight: 500;
                    }
                    &__text {
                        font-size: 14px;
                        line-height: 19px;
                    }
                }
            }
        }

        .full-repair {
            margin: 120px 0;
            &-card {
                margin-top: 20px;
                flex-direction: column;
                margin-bottom: 80px;
                align-items: start;
                picture {
                    width: 100%;
                }
                &-info {
                    width: 100%;
                    border-bottom: none;
                    padding-bottom: 0;
                    margin-top: 20px;
                    &__title {
                        font-size: 24px;
                        line-height: 28px;
                    }
                    &__text {
                        margin: 10px 0 20px;
                    }
                }
            }
            &__all {
                width: 100%;
            }
        }

        
        .works {
            &-item {
                width: 100%;
                margin-right: 0;
                &:nth-child(2n) {
                    margin-right: 0;
                }
                &__title {
                    font-size: 24px;
                    line-height: 28px;
                }
                &__text {
                    margin: 10px 0 80px;
                }
            }
        }

        .projects {
            &-card {
                width: 100%;
                height: 450px;
                &-info {
                    bottom: 0;
                    width: 100%;
                    &__size {
                        font-size: 14px;
                        line-height: 19px;
                    }
                    &__title {
                        font-size: 24px;
                        line-height: 28px;
                        margin: 10px 0 30px;
                    }
                    &-time {
                        font-size: 14px;
                        line-height: 19px;
                        width: 75px;
                    }
                }
            }
            &__all {
                width: 100%;
            }
        } 
        
        .create {
            margin: 120px 0;
            .title__text {
                margin: 20px 0;
            }
            .title__text-sub {
                font-size: 14px;
                line-height: 19px;
            }
            .row:last-child {
                margin-top: 80px;
            }
            &-card {
                flex-wrap: wrap;
                &-info {
                    width: 100%;
                }
                picture {
                    width: 100%;
                    margin-bottom: 20px;
                }
                &__title {
                    font-size: 24px;
                    line-height: 28px;
                }
                &__price {
                    font-size: 18px;
                    line-height: 25px;
                }
            }
        }
        
        .design-form {
            padding: 70px 0;
            position: relative;
            picture {
                width: 179px;
                position: absolute;
                top: -65px;
                right: 0;
                img {
                    width: 100%;
                    object-fit: contain;
                }
            }
            .form {
                width: 100%;
                &__title {
                    font-size: 32px;
                    line-height: 38px;
                }
                &__title-sub {
                    font-size: 14px;
                    line-height: 19px;
                    margin: 20px 0 30px;
                }
                &__btn {
                    width: 100%;
                }
            }
        }

        .price-box {
          margin: 120px 0;
          padding: 110px 0;
          position: relative;
          picture {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
              img {
                height: 100%;
                  object-fit: cover;
                  object-position: left;
              }
          }
          &-card {
              width: 335px;
              padding: 40px 50px;
              border-radius: 30px;
              position: relative;
              left: auto;
              transform: translate(0, 0);
              z-index: 2;
              top: auto;
              margin: 0 auto;
              text-align: center;
          }
          .title__text {
              margin-bottom: 0;
              font-size: 32px;
              line-height: 38px;
          }
          &__text {
              margin: 20px 0;
          }
        }

        .faq {
            &-item {
                width: 100%;
                margin-bottom: 20px;
    
                &__title {
                    width: 80%;
                    font-size: 16px;
                    line-height: 22px;
                    font-weight: 300;
                }
            }
        }

        .repeair-objects {
            margin: 150px 0;
            &-card {
                width: 90%;
                height: 285px;
            }
            &__title {
                font-size: 24px;
                line-height: 28px;
                margin-top: 120px;
            }
        }
        .howWeAreWorking {
            margin-top: 120px;
            &__title {
                margin-bottom: 40px;
                font-size: 32px;
                line-height: 38px;
            }
            .line {
                display: none;
            }
            &-front {
                height: auto;
                position: relative !important;
            }
            .row:last-child {
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    left: 20px;
                    top: 15px;
                    height: 91%;
                    width: 1px;
                    background: #214145;
                }
            }
            .slide {
                margin-top: 80px;
                display: flex !important;
                &:first-child {
                    margin-top: 0;
                }
                .howWeAreWorking-info {
                    width: 100%;
                    &__title {
                        font-size: 24px;
                        line-height: 28px;
                        position: relative;
                        &::before {
                            content: '';
                            position: absolute;
                            left: -28px;
                            top: 15px;
                            width: 5px;
                            height: 5px;
                            border-radius: 50px;
                            background: #214145;
                        }
                    }
                    &__text {
                        width: 100%;
                    }
                }
                picture {
                    display: none;
                }
            }
            .slide-back {
                display: none !important;
            }
        }
        .projects-page {
            margin: 50px 0 120px ;
        }

        .project-card {
            margin-top: 50px;
            .project-card-swiper-active {
                .swiper-slide {
                    height: 335px;
                }
            }
            .project-card-swiper {
                margin: 0 25px !important;
                .swiper-slide {
                    height: 80px;
                } 
            }
            .card-controls {
                .card-prev {
                    left: 0px;
                }
                .card-next {
                    right: 0px;
                }
            }
            .title__text {
                margin-bottom: 20px;
            }
            &-info {
                margin-top: 60px;
                &__title {
                    font-size: 18px;
                    line-height: 25px;
                }
                ul li {
                    font-size: 14px;
                    line-height: 19px;
                    margin-top: 20px;
                }
            }
        }    
        .projects.seo {
            margin: 120px 0;
        }
        .repeair-page {
            margin-top: 50px;
            .title__text {
                margin-bottom: 20px;
            }
            &-info {
                &__title {
                    font-size: 24px;
                    line-height: 28px;
                }
                &__text {
                    font-size: 14px;
                    line-height: 19px;
                }
            }
            .repeair-form {
                margin-top: 60px;
                padding: 40px 10px;
                .form {
                    &__title {
                        font-size: 24px;
                        line-height: 28px;
                    }
                    &__text {
                        font-size: 14px;
                        line-height: 19px;
                        width: 100%;
                        margin: 20px 0 0;
                    }
                    .input-box {
                        margin-top: 20px;
                    }
                }
            }
        }
        
    .repeair-table {
        thead {
            th {
              font-size: 16px;
              line-height: 22px;
            }
        }
       tbody {
            td {
              font-size: 14px;
              line-height: 19px;
            }
       }
      }

      
    .express {
        margin-top: 50px;
        &-switch {
            .title__text {
                margin: 30px 0;
            }
            .switch {
                &-info {
                    font-size: 14px;
                    line-height: 18px;
                    padding-bottom: 10px;
                }
                input[type="radio"]:checked ~ .switch-info {
                    border-color: #5E8E94;
                    color: #5E8E94;
                }
            }
        }
        .right-box {
            .switch-table {
                td, th {
                    padding: 20px 0 10px;
                }
                tr td {
                    font-size: 18px;
                    line-height: 24px;
                }
            }
            .express__order {
                width: 100%;
                margin-top: 30px;
            }
        }
        .switch-item {
            margin-top: 30px;
            &__title {
                font-size: 28px;
                line-height: 32px;
                color: #214145;
            } 
            &__title-sub {
                font-size: 20px;
                line-height: 28px;
                color: #214145; 
                margin: 15px 0 30px;
            }
        }
        .price-info__text {
            font-size: 12px;
            line-height: 14px;
        }
    }
    
    .design-page {
        .title__text {
            margin-bottom: 0;
        }
        &__price {
            font-size: 18px;
            line-height: 25px;
        }
        &__title {
            font-size: 24px;
            line-height: 28px;
            margin: 40px 0;
        }
        &-item {
            li {
                font-size: 18px;
                line-height: 25px;
            }
        }
        &__btn {
            width: 100%;
        }
        .repeair-page-info {
            margin-top: 0 !important;
        }
    }
    }

    .footer {
        .row:nth-child(2) {
            margin: 80px 0 50px;
        }
        .form {
            &__title {
                font-size: 32px;
                line-height: 38px;
            }
            &__title-sub {
                font-size: 16px;
                line-height: 22px;
                margin: 20px 0 40px;
            }
            .input-box {
                width: 100%;
                margin-right: 0;
                margin-bottom: 30px;
            }
            .check-box {
                width: 100%;
            }
            &__btn {
                width: 100%;
                margin-top: 30px;
            }
        }
        &-item {
            width: 100%;
            &:first-child {
                margin-bottom: 20px;
            }
        }
        &-info {
            width: 100%;
            &:last-child {
                margin-bottom: 80px;
            }
        }
    }

    .popUp {
        &-content {
            max-width: 100%;
            width: 100% !important;
            height: 100vh;
            border-radius: 0;
        }
        &__title {
            font-size: 24px;
            line-height: 28px;
            font-weight: 500;
        }
        &__title-sub {
            font-size: 14px;
            line-height: 19px;
            font-weight: 300;
            margin: 10px 0;
        }
        .calculate,
        .after-calculate {
            height: 100vh;
        }
        .thanks {
            width: 360px;
            padding: 30px 0;
            height: auto;
        }
        .calculate {
            padding: 100px 0 40px;
            &-item {
                .calculate-card {
                    width: 48%;
                    margin-bottom: 40px;
                }
            }
        }
        .after-calculate {
            padding: 100px 20px 40px;
            .form {
                width: 100%;
                .input-box {
                    margin: 0;
                    margin-bottom: 15px;
                }
                &__btn {
                    width: 100%;
                }
            }
            picture {
                width: 100%;
                margin-top: 40px;
            }
        }
    }
}
