@import './_font';

body {
    font-family: "Hauora",sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 22.4px;
    color: #1E1E1E;;
  }
  
  .bodyStopScroll {
    overflow: hidden;
    height: 100vh;
  }
  
  ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    color: inherit;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
  }
  
  button {
    outline: none;
    border: none;
  }
  
  input, textarea, select, button {
    border: none;
    outline: none;
  }
  
  .container {
    max-width: 1240px;
  }

  .header {
    position: sticky;
    top: 0;
    background: #1E1E1E;
    padding: 30px 0 25px;
    color: #fff;
    z-index: 99;
    transition: .3s all;
    .active {
        cursor: pointer;
    }
    &-item {
        margin-right: 30px;
        font-weight: 300;
        svg {
            transition: .3s all;
        }
        a:hover {
            color: #5E8E94;
        }
        &:last-child {
            margin-right: 0;
        }
        .calculate__btn {
            background: transparent;
            color: #fff;
            font-weight: 300;
            &:hover {
                color: #5E8E94
            }
        }
        ul {
            background: #1E1E1E;
            padding: 40px;
            top: 60px;
            left: -30px;
            display: none;
            animation: animList .3s ease;
        }
        .item__list {
            white-space: nowrap;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .showInfo {
        svg {
            transform: rotate(180deg);
        }
        ul {
            display: block;
        }
    }
    &-call {
        font-size: 14px;
        font-weight: 300;
        &:hover {
            color: #5E8E94
        }
        .call__btn {
            background: transparent;
            color: #5E8E94;
            font-size: 14px;
            font-weight: 300;
            text-decoration: underline;
            &:hover {
                color: #fff
            }
        }
    }
    .menu-btn {
        width: 32px;
        height: 16px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        span {
            width: 100%;
            height: 2px;
            background: #fff;
            transition: .3s all;
        }
    }
    .clicked {
        span {
            &:first-child {
                transform: rotate(45deg);
            }
            &:last-child {
                transform: rotate(-45deg) translate(8px, -8px);
            }
        }
    }
    .menu {
        position: absolute;
        width: 100%;
        top: 99%;
        left: 0;
        z-index: 999;
        background: #1E1E1E;
        overflow-y: scroll;
        max-height: 0;
        transition: .3s all;
        &-item,
        .item__list {
            margin-bottom: 30px; 
            font-weight: 300;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .item {
            margin-top: 30px;
            display: none;
            svg {
                transition: .3s all;
            }
        }
        .calculate__btn {
            background: transparent;
            color: #fff;
            font-weight: 300;
        }
        .header-call {
            margin: 80px 0;
        }
    }
    .showMenu {
        max-height: 90vh;
    }
    .showInfo {
        .item {
            display: block !important;
            svg {
                transform: rotate(180deg);
            }
        }
    }
  }
  .headerShow {
    padding: 10px 0;
    top: 0;
    .header-item {
        ul {
            top: 45px;
        }
    }
  }

  .main {
    padding-top: 60px;
    .head-page {
        font-size: 14px;
        font-weight: 300;
        &__name {
            color: #5E8E94;
            text-decoration: underline;
        }
    }
    .wrapper {
        &__title {
            font-size: 70px;
            line-height: 95px;
            font-weight: 500;
            color: #214145;
        }
        &__title-sub {
            font-size: 24px;
            line-height: 28px;
            font-weight: 300;
            margin: 26px 0 38px;
        }
        .free__btn {
            width: 203px;
            height: 50px;
            border-radius: 14px;
            background: #214145;
            color: #fff;
            font-size: 18px;
            line-height: 21px;
            font-weight: 500;
            transition: .3s all;
            margin-right: 30px;
            &:hover {
                background: #5E8E94;
            }
        }
        .price__btn {
            background: transparent;
            color: #214145;
            &:hover {
                color: #5E8E94;
            }
        }
        &-bg {
            margin-top: 40px;
            img {
                width: 100%;
                object-fit: contain;
            }
        }
        &-info {
            background: #214145;
            color: #fff;
            padding: 80px;
            border-radius: 30px 30px 0 0;
            margin-top: -30px;
            position: relative;
            z-index: 2;
            &__title {
                font-size: 30px;
                line-height: 38px;
                font-weight: 500;
                margin-bottom: 40px;
            }
            &-item {
                border-left: 1px solid #fff;
                border-bottom: 1px solid #fff;
                padding: 48px 0 30px 20px;
                &:first-child {
                    padding-top: 0;
                }
                &:last-child {
                    border-bottom: none;
                }
                &__title {
                    font-size: 48px;
                    line-height: 57px;
                    font-weight: 500;
                    .odometer-formatting-mark {
                        display: none;
                    }
                }
                &__text {
                    margin-top: 10px;
                    font-weight: 300;
                }
            }
        }
    }

    .title__text-sup {
        font-weight: 300;
        color: #9D9D9D;
        width: 32%;
    }
    .title__text {
        font-size: 48px;
        line-height: 57px;
        font-weight: 500;
        color: #214145;
        margin-bottom: 50px;
        width: 66%;
    }
    
    .full-repair {
        margin: 150px 0;
        &-card {
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            flex-direction: row-reverse;
            align-items: end;
            margin-bottom: 50px;
            &:first-child {
                margin-top: 0;
            }
            picture {
                width: 65%;
                img {
                    width: 100%;
                    object-fit: cover;
                    border-radius: 30px;
                }
            }
            &-info {
                width: 33%;
                padding-bottom: 40px;
                border-bottom: 1px solid #9D9D9D;
            }
            &__title {
                font-size: 32px;
                line-height: 38px;
                font-weight: 500;
            }
            &__text {
                font-size: 14px;
                line-height: 19px;
                font-weight: 300;
                margin: 20px 0 30px;
            }
            &__link {
                font-size: 18px;
                line-height: 21px;
                font-weight: 500;
                color: #214145;
                transition: .3s all;
                span {
                    text-decoration: underline;
                }
                &:hover {
                    color: #5E8E94;
                }
            }
            .price__btn {
                width: 140px;
                height: 50px;
                border-radius: 15px;
                background: #214145;
                font-size: 18px;
                line-height: 21px;
                font-weight: 500;
                color: #fff;
                transition: .3s all;
                &:hover {
                    background: #5E8E94;
                }
            }
        }
        &__all {
            width: 250px;
            height: 50px;
            border-radius: 15px;
            background: #214145;
            font-size: 18px;
            line-height: 21px;
            font-weight: 500;
            color: #fff;
            transition: .3s all;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                background: #5E8E94;
            }
        }
    }

    .works {
        margin-bottom: 120px;
        &-item {
            padding-top: 10px;
            border-top: 1px solid #9D9D9D;
            width: 31%;
            margin-right: 2.3%;
            &:nth-child(3n) {
                margin-right: 0;
            }
            &:first-child {
                border-top: none;
            }
            &__title-sup {
                font-weight: 300;
                color: #9D9D9D;
            }
            &__title {
                font-size: 32px;
                line-height: 38px;
                font-weight: 500;
            }
            &__text {
                font-size: 14px;
                line-height: 19px;
                font-weight: 300;
                color: #214145;
                margin-bottom: 80px;
            }
        }
    }

    .projects {
        &-card {
            width: 49%;
            height: 456px;
            border-radius: 30px;
            overflow: hidden;
            position: relative;
            margin-bottom: 50px;
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: #0008;
                display: none;
                animation: animHover .5s linear;
            }
            &:hover::before {
                display: block;
            }
            picture {
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &-info {
                position: absolute;
                color: #fff;
                border-radius: 30px;
                background: rgba(0, 0, 0, 0.60);
                backdrop-filter: blur(8px);
                z-index: 2;
                bottom: 20px;
                width: 94%;
                padding: 20px;
                left: 50%;
                transform: translateX(-50%);
                &__name {
                    background: #9D9D9D;
                    font-size: 14px;
                    line-height: 19px;
                    font-weight: 300;
                    border-radius: 30px;
                    padding: 0 4px;
                }
                &__size {
                    font-weight: 300;
                }
                &__title {
                    font-size: 32px;
                    line-height: 38px;
                    font-weight: 500;
                    margin: 10px 0 40px;
                }
                &-time {
                    font-size: 18px;
                    font-weight: 500;
                }
                &__link {
                    font-size: 18px;
                    font-weight: 500;
                    span {
                        text-decoration: underline;
                    }
                    &:hover {
                        color: #5E8E94;
                        svg path{
                            fill: #5E8E94;
                        }
                    }
                }
            }
        }
        &__all {
            width: 250px;
            height: 50px;
            border-radius: 15px;
            background: #214145;
            font-size: 18px;
            line-height: 21px;
            font-weight: 500;
            color: #fff;
            transition: .3s all;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                background: #5E8E94;
            }
        }
    }

    .create {
        margin: 180px 0;
        .title__text {
            margin-bottom: 0;
        }
        .title__text-sub {
            width: 66%;
            font-weight: 300;
            margin: 10px 0 20px;
        }
        &-card {
            &-info {
                width: 49%;
                padding-top: 20px;
                border-top: 1px solid #9D9D9D;
            }
            picture {
                width: 49%;
                img {
                    width: 100%;
                    object-fit: contain;
                    border-radius: 30px;
                }
            }
            &__title {
                font-size: 32px;
                line-height: 38px;
                font-weight: 500;
            }
            &__price {
                font-size: 24px;
                line-height: 28px;
                font-weight: 300;
                margin: 10px 0 20px;
                display: block;
            }
            &__text {
                font-weight: 300;
            }
            &__link {
                font-size: 18px;
                line-height: 21px;
                font-weight: 500;
                color: #214145;
                margin-top: 30px;
                display: flex;
                align-items: center;
                &:hover {
                    color: #5E8E94;
                    svg path {
                        fill: #5E8E94;
                    }
                }
                span {
                    text-decoration: underline;
                }
            }
        }
        .row:last-child {
            margin-top: 150px;
        }
    }

    .design-form {
        background: #214145;
        padding: 90px 0;
        border-radius: 30px;
        picture {
            margin-right: 20px;
            img {
                width: 469px;
                object-fit: contain;
            }
        }
    }

    .howWeAreWorking {
        width: 100%;
        background: #fff;
        position: relative;
        .line {
            position: absolute;
            top: 70px;
            left: -10px;
        }
        &-front {
            width: 100%;
            height: 100vh;
            left: 0;
            z-index: 10;
            background: #fff;
        }
        .startScroll {
            top: 0;
        }
        .stopScroll {
            bottom: 0;
        }
        .slide {
            margin-top: 130px;
            display: flex;
            align-items: center;
            justify-content: end;
            .howWeAreWorking-info {
                animation: animScroll .3s linear;
                &__title {
                    font-size: 32px;
                    line-height: 38px;
                    font-weight: 500;
                }
                &__text {
                    font-size: 14px;
                    line-height: 19px;
                    font-weight: 300;
                    margin-top: 10px;
                    width: 75%;
                }
            }
            picture img {
                width: 285px;
                height: 285px;
                border-radius: 30px;
                object-fit: cover;
                animation: animScroll .5s linear;
            }
        }
        .slide-back {
            width: 100%;
            height: 50vh;
            display: flex;
            align-items: center;
            justify-content: center;
            .point {
                width: 10px;
                height: 10px;
            }
            &:last-child {
                height: auto;
            }
        }
        .slide-back0 {
            padding-top: 30px;
        }
    }
    .objects {
      &__title {
          font-size: 48px;
          line-height: 57px;
          font-weight: 500;
          color: #214145;
      } 
      &__text {
          font-size: 16px;
          font-weight: 300;
          margin: 10px 0 30px;
      }
      picture {
          margin-right: 20px;
          img {
              width: 385px;
              object-fit: contain;
              border-radius: 30px;
          }
      }
      &__btn {
          width: 264px;
          height: 50px;
          border-radius: 14px;
          background: #214145;
          color: #fff;
          font-size: 18px;
          font-weight: 500;
          transition: .3s all;
          &:hover {
              background: #5E8E94;
          }
      }
    }
  
    .price-box {
      margin: 180px 0;
      picture {
          width: 100%;
          img {
              width: 100%;
              object-fit: contain;
          }
      }
      &-card {
          width: 794px;
          padding: 60px 30px;
          border-radius: 30px;
          background: rgba(255, 255, 255, 0.40);
          backdrop-filter: blur(20px);
          position: absolute;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
          top: 50%;
      }
      &__title {
          font-size: 48px;
          line-height: 57px;
          font-weight: 500;
      }
      &__text {
          font-weight: 300;
          margin: 30px 0;
      }
      &__btn {
          width: 315px;
          height: 50px;
          border-radius: 14px;
          background: #214145;
          color: #fff;
          transition: .3s all;
          &:hover {
              background: #5E8E94;
          }
      }
    }

    .faq {
        &-item {
            width: 48%;
            max-height: 60px;
            overflow: hidden;
            border-bottom: 1px solid #214145;
            margin-bottom: 50px;
            transition: .3s all;
            padding-bottom: 10px;
            &-head {
                height: 60px;
                padding-bottom: 10px;
                cursor: pointer;
                img {
                    transform: rotate(45deg);
                    transition: .3s all;
                }
            }

            &__title {
                font-size: 24px;
                line-height: 28px;
                font-weight: 300;
                color: #214145;
            }
            &__text {
                margin-top: 20px;
                font-size: 14px;
                line-height: 19px;
                font-weight: 300;
            }
        }
        .showFaq {
            max-height: 1000px;
            transition: .3s all;
            img {
                transform: rotate(0deg);
                transition: .3s all;
            }
        }
    }

    .repeair-objects {
        margin: 180px 0 200px;
        &-card {
            width: 24%;
            height: 285px;
            margin-right: 1%;
            margin-bottom: 20px;
            border-radius: 30px;
            overflow: hidden;
            picture {
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 30px;
                    object-fit: cover;
                }
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: #0004;
                display: none;
            }
            &:hover::before {
                display: block;
            }
            }
        }
        &__link {
            position: absolute;
            width: 90%;
            height: 50px;
            border-radius: 30px;
            left: 50%;
            bottom: 20px;
            transform: translateX(-50%);
            border-radius: 30px;
            background: rgba(0, 0, 0, 0.60);
            backdrop-filter: blur(8px);
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            span {
                text-decoration: underline;
            }
            svg path {
                fill: #fff;
            }
            &:hover {
                color: #5E8E94;
                svg path {
                    fill: #5E8E94;
                }
            }
        }
        &__title {
            font-size: 32px;
            line-height: 38px;
            font-weight: 500;
            color: #214145;
            margin-top: 180px;
        }
        &__text {
            font-weight: 300;
            margin-top: 20px;
        }
    }
    .projects-page {
        margin: 60px 0 180px ;
        .projects-pagination {
            li {
                a {
                    width: 40px;
                    height: 25px;
                    border-radius: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: .3s all;
                    &:hover {
                        background: #5E8E94;
                        color: #fff;
                        svg path {
                            fill: #fff;
                        } 
                    }
                }
                a.active {
                    background: #5E8E94;
                    color: #fff;
                }
            }
        }
    }
    .project-card {
        margin-top: 60px;
        picture {
            display: flex;
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;   
            }
        }
        .project-card-swiper-active {
            margin-bottom: 20px;
            .swiper-slide {
                height: 560px;
            }
        }
        .project-card-swiper {
            .swiper-slide {
                height: 160px;
            } 
        }
        .card-btns {
            .card-prev,
            .card-next {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 5;
                &:hover {
                    svg {
                        rect {
                            fill-opacity: 1;
                            fill: #5E8E94;
                        }
                        path {
                            fill: #fff;
                        }
                    }
                }
            }
        }
        .active-card-controls {
            .card-prev {
                left: 10px;
            }
            .card-next {
                right: 10px;
            }
        }
        .card-controls {
            .card-prev {
                left: -30px;
            }
            .card-next {
                right: -30px;
            }
        }
        .title__text {
            width: 100%;
            margin-bottom: 40px;
        }
        &-info {
            &__title {
                font-size: 24px;
                line-height: 28px;
                font-weight: 300;
            }
            ul li {
                font-weight: 300;
                margin-top: 20px;
                display: flex;
                align-items: start;
                &::before {
                    content: '';
                    min-width: 4px;
                    min-height: 4px;
                    border-radius: 50%;
                    background: #1E1E1E;
                    margin-right: 10px;
                    margin-top: 8px;
                }
                &:last-child {
                    margin-bottom: 60px;
                }
            }
            &-item {
                font-size: 24px;
                line-height: 28px;
                margin-right: 50px;
                &:last-child {
                    margin-right: 0;
                }
                span {
                    color: #5E8E94;
                }
            }
            .price__btn {
                width: 370px;
                height: 50px;
                border-radius: 14px;
                background: #214145;
                color: #fff;
                font-size: 18px;
                font-weight: 500;
                transition: .3s all;
                margin-top: 30px;
                text-align: center;
                &:hover {
                    background: #5E8E94;
                }
            }
        }
    }
    .projects.seo {
        margin: 180px 0;
    }
    .repeair-page {
        margin-top: 60px;
        .title__text {
            width: 100%;
        }
        picture {
            display: flex;
            width: 100%;
            img {
                width: 100%;
                object-fit: contain;
            }
        }
        &-info {
            &__title {
                font-size: 32px;
                line-height: 38px;
                font-weight: 500;
                color: #214145;
            }
            &__title-sub {
                font-size: 24px;
                line-height: 28px;
                font-weight: 300;
                color: #214145;
                margin-top: 20px;
            }
            &__text {
                font-weight: 300;
                margin-top: 20px;
            }
            ul {
                margin-top: 20px;
                li {
                    display: flex;
                    align-items: start;
                    &::before {
                        content: '';
                        width: 4px;
                        height: 4px;
                        border-radius: 50%;
                        background: #1E1E1E;
                        margin: 10px 10px 0 0;
                    }
                }
            }
        }
        .repeair-form {
            border-radius: 30px;
            border: 1px solid var(--5, #5E8E94);
            background: rgba(94, 142, 148, 0.20);
            .form {
                color: #1E1E1E;
                padding: 40px 50px;
                &__title {
                    font-size: 32px;
                    line-height: 38px;
                }
                &__title-sub {
                    font-size: 14px;
                    line-height: 19px;
                    margin: 10px 20px;
                }
                .input-box {
                    width: 100%;
                }
                &__inp {
                    border-color: #214145;
                    color: #214145;
                    &:focus {
                        border-color: #5E8E94;
                    }
                }
                .check-box {
                    text-align: left;
                    label {
                        color: 214145;
                    }
                }
                &__check {
                    border: 1px solid #214145;
                        &::before {
                            content: url(../img/svg/check2.svg);
                        }
                }
                &__btn {
                    background: #214145;
                    color: #fff;
                    &:hover {
                        background: #5E8E94;
                    }
                }
            }
        }
    }
    .repeair-table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 180px;
        thead {
          tr {
              background-color: rgba(94, 142, 148, 0.2);
              border-bottom: 1px solid rgba(157, 157, 157, 1);
              border-top: 1px solid rgba(157, 157, 157, 1);
            }
            th {
              padding: 25px 20px;
              font-size: 24px;
              line-height: 28px;
              font-weight: 300;
              color: #214145;
            }
        }
       tbody {
          tr {
              background-color: rgba(94, 142, 148, 0.05);
              border: none;
              border-bottom: 1px solid rgba(157, 157, 157, 1);
              color: #1E1E1E;
              &:nth-child(even) {
                  background-color: rgba(94, 142, 148, 0.1);
                }
              &:hover {
                  background-color: #5E8E94;
                  color: #fff;
                }
            }
            td {
              padding: 19px 20px;
              font-size: 16px;
              line-height: 22px;
              font-weight: 300;
            }
       }
      }
    .express {
        margin-top: 60px;
        .title__text {
            margin-bottom: 0;
        }
        &__price {
            font-size: 24px;
            line-height: 28px;
            font-weight: 30;
            color: #214145;
            margin: 20px 0;
        }
        &__text {
            font-weight: 300;
        }
        &-switch {
            .title__text {
                margin: 40px 0 50px;
            }
            .switch {
                width: 33.3%;
                padding-right: 15px;
                cursor: pointer;
                &:hover {
                    opacity: 0.8;
                }
                input[type="radio"] {
                    appearance: none;
                }
                &-info {
                    font-size: 24px;
                    line-height: 28px;
                    padding-bottom: 18px;
                    border-bottom: 3px solid #F4F4F4;
                    color: #1E1E1E;
                }
                input[type="radio"]:checked ~ .switch-info {
                    border-color: #5E8E94;
                    color: #5E8E94;
                }
            }
        }
        .left-box {
            width: 40%;
        }
        .switch-img {
            display: flex;
            width: 100%;
            img {
                width: 100%;
                object-fit: contain;
            }
        }
        .right-box {
            width: 58%;
            .switch-table {
                width: 100%;
                border-collapse: collapse;
                td, th {
                    padding: 30px 0 10px;
                    border-bottom: 1px solid #9D9D9D;
                }
                tr td {
                    font-size: 24px;
                    line-height: 28px;
                    color: #214145;
                    &:first-child {
                        color: #1E1E1E;
                    }
                }
                tr th {
                    padding-bottom: 20px;
                    font-weight: 300;
                }
            }
            .express__order {
                width: 274px;
                height: 50px;
                border-radius: 14px;
                background: #214145;
                color: #fff;
                font-size: 18px;
                line-height: 21px;
                font-weight: 500;
                margin-top: 50px;
                &:hover {
                    background: #5E8E94;
                }
            }
        }
        .switch-item {
            margin-top: 44px;
            &__title {
                font-size: 32px;
                line-height: 38px;
                color: #214145;
            } 
            &__title-sub {
                font-size: 24px;
                line-height: 28px;
                color: #214145; 
                margin: 20px 0 50px;
            }
        }
        .price-info__text {
            font-size: 14px;
            line-height: 19px;
            font-weight: 300;
            margin-top: 20px;
        }
    }
    .design-page {
        .title__text {
            margin-bottom: 0;
        }
        &__price {
            font-size: 24px;
            line-height: 28px;
            font-weight: 300;
            color: #214145;
            margin: 20px 0;
        }
        &__title {
            font-size: 32px;
            line-height: 38px;
            font-weight: 500;
            color: #214145;
            margin: 50px 0;
        }
        &-item {
            li {
                margin-bottom: 30px;
                padding-bottom: 10px;
                border-bottom: 1px solid #9D9D9D;
                font-size: 24px;
                line-height: 28px;
                color: #214145;
                span {
                    color: #5E8E94;
                }
            }
        }
        &__btn {
            width: 337px;
            height: 50px;
            border-radius: 14px;
            background: #214145;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            margin-top: 20px;
            &:hover {
                background: #5E8E94;
            }
        }
        .design-img {
            width: 100%;
            display: flex;
            margin-bottom: 50px;
            img {
                width: 100%;
                object-fit: contain;
            }
        }
    }
  }

  .form {
    color: #fff;
    &__title {
        font-size: 48px;
        line-height: 57px;
        font-weight: 500;
    }
    &__title-sub {
        font-weight: 300;
        margin: 10px 0 55px;
    }
    .upload-files {
        cursor: pointer;
        #upload {
            appearance: none;
            display: none;
        }
        span {
            font-size: 14px;
            line-height: 19px;
            text-decoration: underline;
        }
        &:hover span {
            color: #5E8E94;
        }
    }
    .input-box {
        width: 330px;
        margin-top: 30px;
        position: relative;
        label {
            position: absolute;
            left: 0;
            bottom: 10px;
            font-size: 14px;
            font-weight: 300;
            transition: .3s all;
        }
    }
    &__inp {
        width: 100%;
        background: transparent;
        border-bottom: 1px solid #fff;
        padding: 10px 0;
        color: #fff;
        font-weight: 300;
        &:focus {
            border-color: #5E8E94;
        }
    }
    .form__inp:focus ~ label,
    .form__inp:not(:placeholder-shown).form__inp:not(:focus) ~ label {
        bottom: 30px;
        font-size: 12px;
    }
    .check-box {
        margin: 20px 0 30px;
        font-size: 14px;
        font-weight: 300;
        display: flex;
        flex-wrap: nowrap;
        label {
            cursor: pointer;
            line-height: 19px;
        }
    }
    &__check {
        appearance: none;
        min-width: 12px;
        height: 12px;
        border-radius: 3px;
        border: 1px solid #fff;
        margin-right: 8px;
        position: relative;
        margin-top: 5px;
        cursor: pointer;
            &::before {
                content: url(../img/svg/check.svg);
                position: absolute;
                top: -8px;
                left: 0px;
                display: none;
            }
        &:checked::before {
            display: block;
        }
    }
    &__btn {
        width: 188px;
        height: 50px;
        border-radius: 14px;
        background: #fff;
        transition: .3s all;
        &:hover {
            background: #5E8E94;
            color: #fff;
            svg path {
                fill: #fff;
            }
        }
    }
}

  .footer {
    background: #1E1E1E;
    color: #fff;
    padding: 60px 0 80px;
    border-radius: 30px 30px 0 0;
    .form {
        color: #9D9D9D;
        &__title {
            color: #fff;
        }
        &__title-sub {
            font-weight: 300;
            margin: 10px 0 40px;
            color: #fff;
        }
        .input-box {
            width: 155px;
            margin-top: 0;
            margin-right: 20px;
            label {
                top: 10px;
            }
        }
        &__inp {
            border-bottom: 1px solid #9D9D9D;
            &:focus {
                border-color: #fff;
            }
        }
        .form__inp:focus ~ label,
        .form__inp:not(:placeholder-shown).form__inp:not(:focus) ~ label {
            top: -10px;
            font-size: 12px;
        }
        .check-box {
            margin: 0;
            width: 175px;
        }
        
        &__check {
            border: 1px solid #F8F8F8;
            margin-top: 5px;
        }
        &__btn {
            width: 235px;
            white-space: nowrap;
        }
        }
    .row:nth-child(3) {
        margin: 180px 0 70px;
    }
    &-contacts {
        &__title {
            font-size: 32px;
            line-height: 38px;
            font-weight: 500;
            margin-bottom: 10px;
        }
        &__text,
        &__info,
        &__link {
            font-size: 14px;
            line-height: 19px;
            font-weight: 300;
            margin-bottom: 10px;
        }
        &__info {
            color: #9D9D9D;
        }
        &__link {
            margin-top: 0;
        }
        .call__btn {
            font-size: 14px;
            line-height: 19px;
            font-weight: 300;
            color: #5E8E94;
            text-decoration: underline;
            background: transparent;
        }
        .social {
            margin-top: 20px;
        }
    }
    &-item {
        width: 50%;
    }
    &__list {
        font-weight: 300;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            color: #5E8E94;
        }
    }
    &__link {
        font-size: 14px;
        line-height: 19px;
        font-weight: 300;
        &:hover {
            color: #5E8E94;
        }
    }
    &-info {
        font-size: 14px;
        line-height: 19px;
        font-weight: 300;
        color: #9D9D9D;
        width: 50%;
        a {
            color: #fff;
            text-decoration: underline;
            &:hover {
                color: #5E8E94;
            }
        }
    }
  }

  .popUp {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: #0009;
    display: flex;
    align-items: center;
    justify-content: center;
    &__close {
        background: transparent;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    &__title {
        font-size: 32px;
        line-height: 38px;
        font-weight: 500;
    }
    &__title-sub {
        font-size: 14px;
        line-height: 19px;
        font-weight: 300;
        margin: 10px 0;
    }
    &-content {
        max-width: 794px;
        animation: animPopUp .3s linear;
        border-radius: 30px;
        background: #fff;
        overflow: hidden;
        box-shadow: 0px 19px 30px 13px rgba(34, 60, 80, 0.05);
    }

    
  .calculate {
    height: 500px;
    padding: 50px;
    &-item {
        height: 100%;
    }
    &-head {
        border-bottom: 1px solid #5E8E94;
        margin-bottom: 50px;
    }
    .slide__title {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 24px;
    }
    &-item {
        width: 100%;

        &__title {
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            margin: 40px;
        }

        .calculate-card {
            width: 23%;
            text-align: center;
            cursor: pointer;
            picture {
                width: 100%;
                height: 110px;
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: .3s all;
                }
                &:hover img {
                    transform: scale(1.15);
                }
            }
            &__title {
                font-size: 14px;
                line-height: 19px;
                font-weight: 300;
                color: #214145;
                margin-right: 6px;
            }
            .checkbox-icon {
                min-width: 14px;
                min-height: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #fff;
            }
            &:hover {
                .checkbox {
                    border: none;
                }
            }
            .calculate-card__inp {
                display: none;
            }
            .calculate-card__inp:checked ~ .checkbox .checkbox-icon {
                background: #214145;
            }
            .calculate-card__inp:checked ~ picture {
                border: 1px solid #214145;
            }
        }
        .slide-btns {
            margin-top: 45px;
            .slide-page {
                font-size: 14px;
                font-weight: 300;
                color: #5E8E94;
            }
            .slide-next,
            .slide-btn {
                width: auto;
                height: 40px;
                border-radius: 14px;
                background: #214145;
                color: #fff;
                font-weight: 300;
                transition: .3s all;
                padding: 0 20px;
                &:hover {
                    background: #5E8E94;
                }
            }
        }
    }
    

    .tick-slider {
        position: relative;
        width: 100%;
        margin-top: 55px;
    }
    
    .tick-slider-value {
        font-size: 14px;
        font-weight: 300;
        position: absolute;
        color: #5E8E94;
        top: -15px;
        white-space: nowrap;
    }

    .tick-slider-weight {
        font-size: 14px;
        font-weight: 300;
        margin-top: 5px;
    }
    
    .tick-slider-background {
        width: 100%;
        background-color: gray;
    }
   
    
    input[type="range"] {
        -webkit-appearance: none;
        width: 100%;
        height: 2px;
        background: #214145;
        outline: none;
        margin: 5px 0;
    }
    
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
    }
    
    input[type="range"]:focus {
        outline: none;
    }
    
    input[type="range"]::-moz-focus-outer {
        border: 0;
    }
    
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 14px;
        height: 14px;
        background: #214145;
        border-radius: 50%;
        cursor: pointer;
        margin-top: -1px;
        -webkit-transform: scale(1);
        transform: scale(1);
        transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .radios {
        &-item {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
            input[type="radio"] {
                appearance: none;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                position: relative;
                border: 1px solid #214145;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                margin-right: 6px;
                &::before {
                    content: '';
                    width: 80%;
                    height: 80%;
                    border-radius: 50%;
                    background: #214145;
                    position: absolute;
                    display: none;
                }
                &:checked::before {
                    display: block;
                }
            }
            label {
                font-size: 14px;
                font-weight: 300;
                cursor: pointer;
            }
        }
    }
    
    }

    .after-calculate {
        height: 500px;
        padding: 50px;
        .form {
            color: #214145;
            width: 48%;
            .input-box {
                width: 100%;
                label {
                    color: #5E8E94;
                }
            }
            &__inp {
                border-bottom: 1px solid #214145;
                color: #214145;
                &:focus {
                    border-color: #5E8E94;
                }
            }
            &__check {
                border: 1px solid #214145;
                    &::before {
                        content: url(../img/svg/check2.svg);
                    }
            }
            &__btn {
                width: 175px;
                height: 40px;
                background: #214145;
                color: #fff;
                font-weight: 300;
                &:hover {
                    background: #5E8E94;
                }
            }
        }
        picture {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48%;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 30px;
            }
        }
    }
    .thanks {
        padding: 50px;
    }
  }



  @keyframes animList {
    from {
        transform: translateY(-10px)
    }
    to {
        transform: translateY(0)
    }
  }
  @keyframes animHover {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
  @keyframes animScroll {
    from {
        transform: translateY(50px)
    }
    to {
        transform: translateY(0)
    }
  }

  @keyframes animPopUp {
    from {
        transform: scale(0)
    } to {
        transform: scale(1)
    }
  }







@import './_media';